<template>
  <v-toolbar>
    <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->

    <router-link :to="{ name: 'Home' }" style="text-decoration: none;">
      <v-toolbar-title>Cardback search</v-toolbar-title>
    </router-link>
    <v-spacer></v-spacer>
    <v-toolbar-items>
     
      <v-btn :to="{ name: 'Home' }" active-class flat>Home</v-btn>
      
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  
}
</script>



