<template>
  <form>
    <v-text-field
      v-model="name"
      label="Name"
    ></v-text-field>
    <v-text-field
      v-model="description"
      label="Description"

    ></v-text-field>
    <v-text-field
      v-model="imgAnimated"
      label="imgAnimated"
    ></v-text-field>
 
    <v-btn @click="addCardback()">submit</v-btn>
    
  </form>
</template>

<script>
import actions from "../../store/action-types";

export default {
  methods: {
    addCardback(){
        const cardback = {
            name: this.name,
            description: this.description,
            imgAnimated: this.imgAnimated
        }
        this.$store.dispatch(actions.ADD_CARDBACK, cardback);
    }   
  }
};
</script>
