<template>
  <form>
    <v-text-field
      v-model="getCurrentCardback.name"
      label="Name"
    ></v-text-field>
    <v-text-field
      v-model="getCurrentCardback.description"
      label="Description"

    ></v-text-field>
    <v-text-field
      v-model="getCurrentCardback.imgAnimated"
      label="imgAnimated"
    ></v-text-field>
 
    <v-btn @click="onSave">submit</v-btn>
    
  </form>
</template>

<script>
import actions from "../../store/action-types";

export default {

  computed: {
    getCurrentCardback() {    
        return this.$store.state.selectedCardback;
    }  
  },
  methods: {
    onSave(evt){
      console.log('save');
      let selectedCardback = this.$store.state.selectedCardback;
      this.$store.dispatch(actions.SAVE_CARDBACK, selectedCardback);
      //console.log(this.$store.dispatch(actions.SAVE_CARDBACK, selectedCardback));
    }
  }
};
</script>
