<template>
  <v-container fluid class="container">
    <v-layout justify-center>
      <v-card class="card">
        <v-img :src="imgAnimated" class="itemImages"></v-img>

        <div class="backname">{{ name }}</div>

        <v-card-actions>
          <v-btn
            flat
            color="orange"
            @click="viewCardDetails()"
            variant="success"
            >View Details</v-btn
          >
        </v-card-actions>
         <v-card-actions>
          <v-btn
            flat
            color="blue"
            @click="editCardDetails()"
            variant="success"
            >Edit Details</v-btn
          >
        </v-card-actions>
        <v-card-actions>
          <v-btn
            flat
            color="red"
            @click="deleteSelectedCardback()"
            variant="success"
            >Delete</v-btn
          >
        </v-card-actions>
      </v-card>
    
    </v-layout>

  </v-container>

</template>
<script>
import mutations from "../../store/mutation-types";
import actions from "../../store/action-types";

export default {
  name: 'mt-card-item',
  props: {
    _id: String,
    name: String,
    imgAnimated: String,
    description: String,
  
  },
  methods: {
    editCardDetails() {
      this.setSelectedCardback();
      this.$router.push({
        name: "Cardback",
        params: { id: this._id}
      });
    },
    viewCardDetails(){
      this.setSelectedCardback();
      this.$router.push({
        name: "ViewCardback",
        params: {id: this._id}
      });
    },
    setSelectedCardback() {
        const currentCardback = {
            _id: this._id,
            name: this.name,
            description: this.description,
            imgAnimated: this.imgAnimated,
        };
        this.$store.commit(mutations.SET_SELECTED_CARDBACK, 
        currentCardback);
    },
    deleteSelectedCardback(){
      // this.setSelectedCardback();
      // const _id = this.$store.state.setSelectedCardback._id;
       const currentCardback = {
            _id: this._id,
            name: this.name,
            description: this.description,
            imgAnimated: this.imgAnimated,
        };
        this.$store.commit(mutations.SET_SELECTED_CARDBACK, 
        currentCardback);
      this.$store.dispatch(actions.DELETE_CARDBACK, currentCardback._id);
    }
  }
 };
</script>

<style>
.itemImages {
  position: relative;
  float: center;
  width: 100%;
  height: 100%;
  border: none;
}
.card {
  width: 50%;
  height: 50%;
  color: cadetblue;
  
}
.backname {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 
}
.container{
  width: 100%;
  height: 100%;
}
</style>
