<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="cardview">
        <v-img 
          :src="getCurrentCardback.imgAnimated"
          aspect-ratio="0.7"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Name: {{ getCurrentCardback.name }}</h3>
            <h3 class="headline mb-0">Description: {{ getCurrentCardback.description }}</h3>
            
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import actions from "../../store/action-types";

export default {

  computed: {
    getCurrentCardback() {    
        return this.$store.state.selectedCardback;
    }  
  },
  methods: {
    onSave(evt){
      console.log('save');
      let selectedCardback = this.$store.state.selectedCardback;
      this.$store.dispatch(actions.SAVE_CARDBACK, selectedCardback);
      //console.log(this.$store.dispatch(actions.SAVE_CARDBACK, selectedCardback));
    },
    setSelectedCardback() {
        const currentCardback = {
            _id: this._id,
            name: this.name,
            description: this.description,
            imgAnimated: this.imgAnimated,
        };
        this.$store.commit(mutations.SET_SELECTED_CARDBACK, 
        currentCardback);
    },
  }
};
</script>
<style>
/* .cardview{
    width: 80%;
    height: 80%;
} */
</style>
