<template>
  <v-container fluid class="maxContainerWidth" align-center>
    <v-layout row wrap>
      <v-flex xs12 sm6 wrap v-for="cardback in getCardbackList" :key="cardback.id">
        <st-card-item
          :name="cardback.name"
          :imgAnimated="cardback.imgAnimated"
          :description="cardback.description"
          :_id="cardback._id"
        ></st-card-item>
      </v-flex>
    </v-layout>
    <div>
      <v-btn  @click="gotoAddCardback()">Add Cardback</v-btn>
    </div>
  </v-container>
</template>

<script>
// import CardItem from "./CardItem.vue";
import actions from '../../store/action-types';

import StCardItem from './CardItem'

export default {
    name: "st-card-item-list",
    components: {
      StCardItem,
    },
    data() {
      return {
        modalTitle: 'Сигурен ли си, че искаш да изтриеш',
        searchName: '',
      };
    },
    computed: {
      getCardbackList() {
        return this.$store.state.cardbackList;
      
      },
      cardbackName(){
          return this.$store.state.selectedCardback.name;
      }
    },
    created() {
      this.getCardbacks();
    },
    methods: {
      getCardbacks() {
        this.$store.dispatch(actions.GET_CARDBACK_LIST);
      //  console.log(this.$store.dispatch(actions.GET_CARDBACK_LIST));
      },
      deleteCardback() {
          const _id = this.$store.state.selectedCardback._id;
          this.$store.dispatch(actions.DELETE_CARDBACK, _id);
      },
      gotoAddCardback(){
      this.$router.push({
        name: "AddCardback"
        
      });
      },
    },
    
  };
</script>



