<template>
    <div class="home">
        <st-cardback-item-list></st-cardback-item-list>
    </div>
</template>

<script>
import StCardbackItemList from './CardItemList';


export default {

  components: {
    StCardbackItemList,
  },

}

</script>
<style>
  .home{
    background-color: white;
    max-width: 100%;
    max-height: 100%;
  }

</style>
